#tableau1 {
    grid-column: 2;
}

#tableau2 {
    grid-column: 4; 
}

#tableau3 {
    grid-column: 6;
}

#tableau4 {
    grid-column: 8;  
}

#tableau5 {
    grid-column: 10;
}

#tableau6 {
    grid-column: 12;
}

#tableau7 {
    grid-column: 14;
}

.tableau {
    width: 13.14285714vw;
    height: calc(100vh - (23.44414437vw));
    background-color: rgba(255, 255, 255, .25);
    grid-row: 4;
}

@media screen and (min-aspect-ratio: 741 / 741){

    .tableau {
        width: 13.14285714vh;
        height: calc(100vh - (23.44414437vh));
        background-color: rgba(255, 255, 255, .25);
        grid-row: 4;
    }
}