#gameBoard {
    width: 100vw;
    height: 100vh;
    background-color: green;
    display: grid;

    grid-template-columns: 1vw 13.14285714vw 1vw 13.14285714vw 1vw 13.14285714vw 1vw 13.14285714vw 1vw 13.14285714vw 1vw 13.14285714vw 1vw 13.14285714vw 1vw; 
    grid-template-rows: 1vw 20.44414437vw 1vw calc(100vh - 23.44414437vw) 1vw; 
}

@media screen and (min-aspect-ratio: 741/741) {
    #gameBoard {
        grid-template-columns: 1vh 13.14285714vh 1vh 13.14285714vh 1vh 13.14285714vh 1vh 13.14285714vh 1vw 13.14285714vh 1vw 13.14285714vh 1vh 13.14285714vh 1vh; 
        grid-template-rows: 1vh 20.44414437vh 1vh calc(100vw - 23.44414437vh) 1vh;
    }
}