/* This view should have the menu bar on top (Portrait) */

#gameMenuFull {
    background-color: black;
    grid-column: 1;
    grid-row: 1;
    overflow-y: visible;
}

@media screen and (min-aspect-ratio: 741/741) {

    /* This view should have the menu bar on the left (Landscape) */

}