.topPile {
    height: 20.44414437vw;
    width: 13.14285714vw;
    grid-row: 2;
    background-color: rgba(255, 255, 255, .25);
}

.topPile div {
    position: absolute;
}

#stock {
    grid-column: 2;
}

#talon {
    grid-column: 4;
}

#spade {
    grid-column: 8;
}

#heart {
    grid-column: 10;
}

#club {
    grid-column: 12;
}

#diamond {
    grid-column: 14;
}

@media screen and (min-aspect-ratio: 741 / 741){
    .topPile {
        height: 20.44414437vh;
        width: 13.14285714vh;
    }
}