/* This view should have the menu bar on top (Portrait) */

* {
    margin: 0px;
    padding: 0px;
    text-size-adjust: none;
    /* user-select: none; */
}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50px calc(100vh - 50px);
}

.hide {
    display: none;
}

@media screen and (min-aspect-ratio: 741/741) {

    /* This view should have the menu bar on the left (Landscape) */

    body {    
        grid-template-columns: 50px calc(100vw - 50px);
        grid-template-rows: 100vh;
    }
}